@use "../utils/utils";
@use "../fonts";
@import "../theme.scss";

#editor {
  display: flex;
  height: 100vh;

  * > {
    height: 100%;
  }
}

#editor > #sidebar {
  @include utils.center;

  $icon-size: 4rem;

  justify-content: start;

  background: $very-dark;

  .sidebar-icon {
    @include utils.center;

    user-select: none;
    cursor: pointer;

    width: $icon-size;
    height: $icon-size;

    color: $disabled;
    filter: brightness(0.7);

    border: 0.2rem solid transparent;
    margin-bottom: 1rem;
    box-sizing: border-box;

    transition: filter $transition-time, color $transition-time,
      border-left $transition-time;

    * {
      font-size: 2rem;
    }
  }

  .sidebar-icon:hover,
  .sidebar-icon.active {
    filter: none;

    * {
      color: $on-dark;
    }
  }

  .sidebar-icon.active {
    border-left: 0.2rem solid $on-dark;
  }
}

#editor > #panel {
  width: 0;

  box-sizing: border-box;
  display: block;

  background: $primary-dark;
  transition: width $transition-time;

  div {
    padding: 0.5rem;
    #title {
      font-size: 2rem;
      font-family: fonts.$oxanium;
    }
  }
}

#editor > #panel.active {
  width: 30rem;
  color: $on-dark;
}

#editor > #simulation {
  background: $primary;
  width: 100%;
}
