@use "../utils/utils";
@use "../fonts";

@import "../theme.scss";

@import "./editor/scene.scss";
@import "./editor/panel.scss";
@import "./editor/settings.scss";
@import "./editor/tree.scss";

$icon-font-size: 2rem;

.editor {
  display: flex;
  height: 100vh;
  overflow-y: hidden;
}

.editor__activity-bar {
  @include utils.center;

  justify-content: start;

  background: $very-dark;
}

.editor__logo {
  width: $icon-font-size;

  margin: auto;
  margin-bottom: 1rem;
}

.editor__activity {
  @include utils.center;

  padding: 1rem;
  user-select: none;

  cursor: pointer;

  color: $disabled;
  filter: brightness(0.7);

  margin-bottom: 1rem;

  transition: filter $transition-time, color $transition-time,
    border-left $transition-time;
}

.editor__activity .material-icons {
  font-size: $icon-font-size;
}

.editor__activity:hover,
.editor__activity.editor__activity--active {
  filter: none;
  color: $on-dark;
}

.editor__activity--active {
  border-left: 0.2rem solid $on-dark;
}

// We import these at the end because some of theme overwrite some styles from this sheet
@import "./editor/add.scss";

@import "../components/node.scss";
