@use "../utils/utils";

@import "../theme.scss";

#form-page .right {
  @include utils.center;
}

#form-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  min-width: 50vw;
  max-width: 80vw;

  #title-row {
    display: flex;
    #title {
      color: $on-primary;
      font-size: 3rem;
      margin-bottom: 1rem;
      flex-grow: 1;
    }

    #message {
      display: flex;
      align-items: flex-end;

      font-size: 1.5rem;
      height: 3rem;
      * {
        margin-left: 1rem;
      }

      #message-normal {
        color: $on-dark-pale;
        filter: brightness(0.7);
      }

      #message-action {
        color: $secondary;
        transition: filter $transition-time;

        cursor: pointer;

        &:hover {
          filter: brightness(1.4);
        }
      }
    }
  }
}

#form-container {
  form fieldset {
    border: none;
  }
}
