@use "../utils/utils";
@use "../fonts";

@import "../theme.scss";

#projects-container .left {
  filter: contrast(105%) brightness(0.9);
}

#projects-container .left img {
  width: 100%;
}

#projects {
  background: darken($color: $primary, $amount: 4);

  padding: 1rem;
  box-sizing: border-box;
  height: 100vh;
}

#projects > #projects-header {
  display: flex;
  align-items: center;
  margin: 1rem;
}

#projects > #projects-header > #back > .material-icons {
  filter: brightness(0.9);
  cursor: pointer;
  transition: filter $transition-time;

  &:hover {
    filter: brightness(1.3);
  }
}
#projects #project-lists {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: calc(100% - 2rem);
}

#projects #project-lists #project-list {
  margin: 0.5rem;
  padding: 0.5rem;

  margin-left: 0;

  max-height: 100%;
  overflow: hidden;

  #list-header {
    display: flex;
    width: 100%;

    * {
      font-size: 1.5rem;
      margin: 0.4rem;

      color: $on-primary;
    }

    .list-button {
      cursor: pointer;
      transition: filter $transition-time, transform $transition-time;

      &:hover {
        filter: brightness(1.3);
        transform: scale(1.3);
      }
    }

    #list-title {
      font-family: fonts.$oxanium;
      font-weight: bold;
      flex-grow: 1;
      cursor: normal;
    }
  }

  #list-items {
    display: flex;
    flex-direction: column;
    height: calc(100% - 2rem);
    overflow: auto;

    .project {
      display: flex;
      user-select: none;
      cursor: pointer;

      margin: 0.4rem;

      padding: 1rem;
      box-sizing: border-box;

      color: $on-primary;
      background: $primary-dark;

      .project-name {
        flex-grow: 1;
        text-transform: capitalize;
        font-size: 1.4rem;
      }

      .project-data {
        display: flex;

        .function-count,
        .node-count {
          display: flex;
          align-items: center;
          margin-right: 1rem;

          .material-icons {
            margin-right: 0.2rem;
            font-size: 1rem;
          }
        }
      }

      transition: filter $transition-time;

      &:hover {
        filter: brightness(1.2);
      }
    }
  }
}

@media only screen and (max-width: 1300px) {
  #project-container .with-logo {
    grid-template-columns: 1fr;
  }

  #project-container .left {
    display: none !important;
  }
}

@media only screen and (max-width: 800px) {
  #projects #project-lists {
    display: flex;
    flex-direction: column-reverse;
    overflow: auto;
  }
}

.projects__back {
  @include utils.center;

  margin: 1rem;
  color: $on-primary;
}

.projects__search-bar {
  border: none;
  outline: none;

  background: $very-dark;
  color: $on-dark-pale;
  transition: filter $transition-time;

  padding: 0.5rem;
  margin: auto;
  margin-right: 0;

  &:hover {
    filter: brightness(1.7);
  }
}
