@use "../utils/utils";
@use "../fonts";

@import "../theme.scss";

.projects .left {
  filter: contrast(105%) brightness(0.9);
}

.projects .left img {
  width: 100%;
}

.projects__container {
  background: $very-dark;

  padding: 1rem;
  box-sizing: border-box;
  height: 100vh;
}

.projects__list {
  display: flex;
  flex-direction: column;

  height: calc(100vh - 8rem);
  overflow: auto;
}

.projects__back {
  @include utils.center;

  padding: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;

  cursor: pointer;
  color: $on-primary;

  filter: brightness(0.8);
  transition: filter $transition-time;
}

.projects__back:hover {
  filter: brightness(1.3);
}

.projects__search-bar {
  border: none;
  outline: none;

  background: $primary-dark;
  color: $on-dark-pale;
  transition: filter $transition-time;

  padding: 0.5rem;
  margin: auto;
  margin-right: 0;

  &:hover {
    filter: brightness(1.7);
  }
}

// Stuff related to individual items in the projects list
.project {
  display: flex;
  user-select: none;
  cursor: pointer;

  margin: 0.4rem;

  padding: 1rem;
  box-sizing: border-box;

  color: $on-primary;
  box-shadow: 3px 3px 5px 3px $very-dark;

  transition: transform $transition-time;

  &:hover {
    transform: scale(0.98);
  }
}

.project__name {
  flex-grow: 1;
  text-transform: capitalize;
  font-size: 1.4rem;
}

.project__data {
  display: flex;
}

.project__data-item,
.project__data-item {
  display: flex;
  align-items: center;
  margin-right: 1rem;

  .material-icons {
    margin-right: 0.2rem;
    font-size: 1rem;
  }
}

.project__data-icon {
  margin-right: 1rem;
}

.project--new {
  @include utils.center;
  background: $primary;

  transition: filter $transition-time;
}

.project--new:hover {
  filter: brightness(1.2);
}

.project--new .material-icons {
  font-size: 2.3rem;
}
