@use "../utils/utils";
@use "../fonts";
@import "../theme.scss";

#editor > #panel > div > #tree {
  padding: 0;
  overflow: hidden;
  width: 100%;

  #actions {
    * {
      margin-right: 0.5rem;
    }

    #line {
      flex-grow: 1;
      margin-right: 1rem;
    }

    .material-icons {
      cursor: pointer;
    }

    display: flex;
  }

  #functions {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    height: 100%;
    width: 100%;

    #function,
    #create-function-input-container {
      display: flex;
      align-items: center;

      width: 100%;
      font-size: 1.5rem;

      padding: 0.5rem;
      box-sizing: border-box;

      background: $primary-dark;

      .material-icons {
        margin-right: 1rem;
      }

      cursor: pointer;
      user-select: none;

      transition: filter $transition-time;
    }

    #function:hover {
      filter: brightness(1.2);
    }

    #function.selected {
      filter: brightness(1.4);
    }

    #create-function-input-container {
      padding-top: 0;
      padding-bottom: 0;
    }

    #create-function-input-container > #create-function-input {
      background: $dark-input-bg;
      border: none;
      outline: none;
      color: white;
      height: 2.5rem;
      width: 100%;
    }
  }
}
