@use "../utils/utils";
@import "../theme.scss";

.tutorial__buttons {
  @include utils.center;

  z-index: 3;

  position: absolute;

  right: 1rem;
  bottom: 1rem;
}

.tutorial__button {
  @include utils.base-input;
  @include utils.center;

  border-radius: 50%;

  height: 3.5rem;
  width: 3.5rem;

  margin: 0.5rem;
  padding: 0;

  cursor: pointer;
  transition: filter $transition-time, transform $transition-time;

  font-size: 2rem;
  font-weight: bolder;

  background: darken($blue, 0);
  color: white;
}

.tutorial__button.tutorial__button--run {
  background: darken($error-text, 3);
}

.tutorial__button:hover {
  filter: brightness(1.4);
  transform: scale(1.1);
}

.tutorial__slide.tutorial__slide--active {
  z-index: 30;
}

.tutorial__result.tutorial__result--type-error {
  padding: 1rem;
  margin-top: 1.3rem;

  background: $primary-dark;
  border-left: 3px solid $secondary;
}

.tutorial__result-type {
  margin-left: 2rem;
}
