@use "../utils/utils";
@import "../theme.scss";

.tutorial__hint-button {
  @include utils.base-input;
  @include utils.center;

  border-radius: 50%;
  z-index: 3;

  position: absolute;

  height: 3.5rem;
  width: 3.5rem;

  right: 1rem;
  bottom: 1rem;

  margin: 0;
  padding: 0;

  cursor: pointer;
  transition: filter $transition-time, transform $transition-time;

  font-size: 2rem;
  font-weight: bolder;

  background: darken($blue, 0);
  color: white;
}

.tutorial__hint-button:hover {
  filter: brightness(1.4);
  transform: scale(1.1);
}

.tutorial__slide.tutorial__slide--active {
  z-index: 30;
}
