@use "../utils/utils";
@import "../theme.scss";

.tutorial__hint-button {
  @include utils.base-input;
  @include utils.center;

  border-radius: 50%;
  z-index: 3;

  position: absolute;
  background: $secondary;

  height: 2.4rem;
  width: 2.4rem;

  right: 1rem;
  bottom: 1rem;

  margin: 0;
  padding: 0;

  cursor: pointer;
  transition: filter $transition-time, transform $transition-time;
}

.tutorial__hint-button .material-icons {
  font-size: 2.4rem;

  color: $primary-dark;
}

.tutorial__hint-button:hover {
  filter: brightness(1.4);
  transform: scale(1.1);
}

.tutorial__slide.tutorial__slide--active {
  z-index: 30;
}
