@use "./fonts";

// Libraries
@import "normalize.css";

// Components
@import "./components/tooltip.scss";
@import "./components/switch.scss";
@import "./components/node-input.scss";
@import "./components/with-logo.scss";
@import "./components/loading.scss";
@import "./components/error.scss";
@import "./components/modal.scss";
@import "./components/tabs.scss";
@import "./components/dropdown.scss";
@import "./components/input.scss";

// Pages
@import "./pages/home.scss";
@import "./pages/editor.scss";
@import "./pages/login.scss";
@import "./pages/projects.scss";
@import "./pages/editTutorial.scss";

* {
  // we don't want the user to drag stuff
  -webkit-user-drag: none;
}

// Prevent default select behavior on images and icons
img,
.material-icons,
.unselectable {
  user-select: none;
}

* {
  box-sizing: border-box;
}

// Helper for text elements which should show ... after they overflow their container
.no-overflow {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

:root {
  // default font on everything
  font-family: fonts.$montserrat;
}

// Remove arrows from number inputs

// Chrome, Safari, Edge, Opera
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

// Firefox
input[type="number"] {
  -moz-appearance: textfield;
}

// Custom scrollbar
* {
  scrollbar-color: $primary-bright;
  scrollbar-width: 1rem;

  &::-webkit-scrollbar {
    width: 1rem;
  }

  &::-webkit-scrollbar-track {
    background: $very-dark;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $primary-bright;
  }
}
