@use "./fonts";

// Pages
@import "./pages/home.scss";
@import "./pages/editor.scss";

// Components
@import "./components/tooltip.scss";
@import "./components/switch.scss";

// Libraries
@import "normalize.css";

* {
  // we don't want the user to drag stuff
  -webkit-user-drag: none;
}

// Prevent default select behavior on images and icons
img,
.material-icons,
.unselectable {
  user-select: none;
}

// Helper for text elements which should show ... after they overflow their container
.no-overflow {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

:root {
  // default font on everything
  font-family: fonts.$montserrat;
}
