// I currently have only one theme so using hard-coded scss variables is ok
// In the future I might take a more complex approach if I want to allow multiple themes

$primary: #262335;
$on-primary: #e2e2e2;
$primary-dark: #241b2f;
$dark-input-bg: #2a2139;
$primary-bright: #2a2139;
$very-dark: #171520;
$on-dark: #ffffff;
$on-dark-pale: #d7c9aa;
$secondary: #6af1b8;
$error: #f16a6a;
$bright: #36f9f6;
$disabled: #5f5e65;
$comment: rgba(1, 204, 255, 0.87);

$transition-time: 0.2s;
