@import "../theme.scss";

$radius: 0.5rem;

svg .comment-container {
  cursor: move;
}

svg .comment-container > .comment {
  fill: $comment;
  border-radius: $radius;
}

svg .comment-container .comment-textarea {
  width: 100%;
  padding: 0.5rem;
  // height: 100%;
  background: transparent;
  background: $comment;
  border-radius: $radius;
  font-size: 1rem;

  border: none;
  outline: none;

  transition: filter $transition-time;

  &:hover {
    filter: brightness(1.1);
  }

  &:focus {
    font-size: 1rem;
    filter: brightness(1.5);
  }
}
