@import "../theme.scss";

.node.selected {
  border: 10px solid red;
}

.node-input {
  transition: stroke-width $transition-time, filter $transition-time;
}

.node-input:hover {
  stroke-width: 9px;
}
