@import "../theme.scss";

.node.selected {
  border: 10px solid red;
}

.node-input,
.node-connection {
  transition: stroke-width $transition-time;
}

.node-input:hover,
.node-connection:hover {
  stroke-width: 9px;
}

.node-output {
  transition: transform $transition-time;
}

.node-output:hover {
  transform: scale(1.3);
}
