@import "../theme.scss";

svg .node {
  cursor: grab;
}

.node-input,
.node-connection {
  transition: stroke-width $transition-time;
}

.node-connection,
.node-input,
.node-output {
  cursor: pointer;
}

.node-input:hover,
.node-connection:hover {
  stroke-width: 9px;
}

.node-input.unconnectable,
.node-output.unconnectable {
  stroke-opacity: 0.3;
}

.node-output {
  transition: transform $transition-time;
}

.node-output:hover {
  transform: scale(1.3);
}
