@import "../theme.scss";

$slider-height: 38px;
$slider-width: 60px;

.switch {
  position: relative;
  display: inline-block;
  width: $slider-width;
  height: $slider-height;

  input {
    opacity: 0;
    width: 0;
    height: 0;
  }
}

.switch-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 2px solid $on-primary;
  transition: 0.4s;

  &:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    // top: 2px;
    bottom: 4px;
    background-color: $on-primary;
    transition: 0.4s;
  }
}

input:checked + .switch-slider {
  border: 2px solid $secondary;
}

input:focus + .switch-slider {
  box-shadow: 0 0 1px $secondary;

  &:before {
    transform: translateX(26px);
  }
}

/* Rounded sliders */
.switch-slider.round {
  border-radius: $slider-height;

  &:before {
    border-radius: 50%;
  }
}
