.tooltip {
  position: relative;
}

.tooltip__content {
  visibility: hidden;

  padding: 0.7rem;
  box-sizing: border-box;

  width: 100%;
  display: block;

  position: absolute;
  z-index: 10;
}

.tooltip.tooltip--hoverable:hover,
.tooltip.tooltip-active {
  .tooltip-content {
    visibility: visible;
  }
}
