.tooltip-container {
  position: relative;

  .tooltip-content {
    visibility: hidden;

    padding: 0.7rem;
    box-sizing: border-box;

    width: 100%;

    position: absolute;
    z-index: 10;
  }
}

.tooltip-container.hoverable:hover,
.tooltip-container.active {
  .tooltip-content {
    visibility: visible;
  }
}
