@use "../../utils/utils";
@import "../../theme.scss";

#add-node-container > #create-input > button {
  flex-grow: 1;

  background: $primary;
  color: white;

  border: none;
  outline: none;

  width: 100%;
  font-size: 1.5rem;

  padding: 0.6rem;
  margin-bottom: 1rem;

  transition: filter $transition-time;

  &:hover {
    filter: brightness(1.4);
  }
}

#add-node-container #node-search-container {
  display: flex;
  align-items: center;

  margin: 1rem;
  margin-top: 0;
  margin-bottom: 0;
}

#add-node-container #node-search-container #node-search-input {
  @include utils.base-input;
  flex-grow: 1;

  margin: 0.6rem;
  margin-right: 1rem;
  margin-left: 0;

  font-size: 1.3rem;

  color: $on-primary;
}

#add-node-container {
  display: flex;
  flex-direction: column;

  height: 100vh;

  #title {
    border: none;
  }
}

#add-node-container > #nodes {
  $border: 4px solid $primary-bright;

  border-bottom: $border;
  border-top: $border;

  display: flex;
  flex-direction: column;

  margin-bottom: 1rem;

  height: 100%;
  overflow-y: auto;

  .node {
    display: flex;

    background: $primary-dark;

    padding: 0.5rem;
    margin-bottom: 1rem;

    transition: filter $transition-time;

    &:hover {
      filter: brightness(1.6);
    }

    #node-data {
      display: flex;
      justify-content: space-between;
      flex-grow: 1;

      height: 100%;
      margin: 1rem;
      margin-top: 0;
      margin-bottom: 0;

      #node-buttons {
        display: flex;
        flex-direction: column;

        height: 100%;
        margin-left: 1rem;
        justify-content: space-evenly;
      }

      #node-buttons > div > .material-icons {
        font-size: 1.5rem;

        cursor: pointer;

        filter: none;
        color: lighten($color: $disabled, $amount: 0.5);

        transition: filter $transition-time;
      }

      #node-buttons > .active > .material-icons:hover {
        filter: brightness(1.7);
      }

      #node-buttons > .active > .material-icons {
        color: rgb(175, 173, 173);
      }

      #node-text {
        display: flex;
        flex-grow: 1;
        flex-direction: column;
        text-overflow: ellipsis;

        & > * {
          cursor: default;
          user-select: none;
        }

        #node-name {
          font-size: 1.4rem;

          text-transform: capitalize;
        }

        #node-type {
          font-size: 0.85rem;
        }
      }
    }
  }
}

#nodes #node-text > #curry-node {
  display: flex;
  align-items: center;

  margin-top: 0.5rem;
  font-size: 0.85rem;

  input {
    flex-grow: 1;
    width: 100%;

    border: none;
    outline: none;

    background: transparent;
    color: $on-primary;

    margin-left: 1rem;
    border-bottom: 3px solid $on-dark-pale;
  }

  width: 100%;
}
