@import "../../theme.scss";

#editor > #panel > #panel-container > #nodes {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  height: 83vh;

  overflow-y: auto;

  .node {
    display: flex;
    margin-bottom: 1rem;
    height: 100%;

    #node-data {
      display: flex;
      justify-content: space-between;
      flex-grow: 1;

      height: 100%;
      margin: 1rem;
      margin-top: 0;
      margin-bottom: 0;

      #node-buttons {
        display: flex;
        flex-direction: column;

        height: 100%;
        justify-content: space-evenly;
      }

      #node-buttons > div > .material-icons {
        font-size: 1.5rem;

        cursor: pointer;

        filter: none;
        color: lighten($color: $disabled, $amount: 0.5);

        transition: filter $transition-time;
      }

      #node-buttons > .active > .material-icons:hover {
        filter: brightness(1.7);
      }

      #node-buttons > .active > .material-icons {
        color: rgb(175, 173, 173);
      }

      #node-text {
        display: flex;
        flex-direction: column;
        text-overflow: ellipsis;
        width: calc(15rem - 100px);

        #node-name {
          font-size: 1.4rem;

          text-transform: capitalize;
        }

        #node-type {
          font-size: 0.85rem;
        }
      }
    }
  }
}
