@import "../../theme.scss";

.edit-node {
}

.edit-node__type {
  margin: 1rem;
  margin-left: 0;
  padding: 0.3rem;

  font-size: 1.2rem;
  background: $primary-dark;
}

.edit-node__description,
.edit-node__input-description {
  width: 100%;
  padding: 1em;

  background: $primary-dark;
  color: $on-primary;

  border-left: 2px solid $secondary;
}

.edit-node__inputs {
  margin-top: 1em;
  padding: 1em;

  background: $primary-dark;
  color: $on-primary;

  border-right: 2px solid $secondary;
}

.edit-node__inputs-header,
.edit-node__inputs-list {
  margin: 0;
}

.edit-node__inputs-list {
  list-style: disc;
}
