@use "../../utils/utils";
@use "../../fonts";
@import "../../theme.scss";

.scene {
  background: $primary;
  width: 100%;

  overflow: hidden;
}

.scene__canvas {
  height: 100%;
  width: 100%;
}

.scene__illustration-container {
  @include utils.center;
  height: 100%;
}

.scene__illustration-container .scene__illustration {
  width: 40vw;

  img {
    width: 100%;
  }
}

.scene__text {
  width: 100%;
  text-align: center;
  font-size: 1.5rem;
  padding: 2rem;
  box-sizing: border-box;
  font-family: fonts.$oxanium;
  color: $disabled;
}
