@import "../../theme.scss";

.explorer {
  display: flex;
  flex-direction: column;

  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;
  height: 80vh;
  max-height: 100%;
}

.explorer__function,
.explorer__input-container {
  display: flex;
  align-items: center;

  font-size: 1.5rem;
  height: 2.5rem;

  padding-left: 1rem;
  background: $primary-dark;

  cursor: pointer;
  user-select: none;

  transition: filter $transition-time;
}

.explorer__function:hover {
  filter: brightness(1.2);
}

.explorer__function.explorer__function--selected {
  filter: brightness(1.4);
}

.explorer__function {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.explorer__function .material-icons,
.explorer__input-container .material-icons {
  margin-right: 1.5rem;
}

.explorer__input-container .material-icons {
  margin-right: 1rem;
}

.explorer .tooltip__content {
  background-color: #912f3f;
  color: #fff;

  font-size: 1rem;
}

.explorer__input {
  background: $dark-input-bg;
  color: white;

  border: none;
  outline: none;

  height: 2.5rem;
  width: 100%;
  display: block;

  padding-left: 0.5rem;
}
